* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-fluid {

    width: 80%;
    margin: auto;

}


nav .navbar-brand {

    letter-spacing: 2px;
    font-size: 30px;
}

nav ul li .nav-link {

    font-size: 20px;

}

.menu h2 {


    text-align: center;
    margin: 50px auto;
    font-size: 50px;

}

.row .menu-card {

    background-color: teal;
    color: white;
    margin: 0px auto 20px;

}

.row .menu-card h4 {

    font-size: 25px;
    text-align: center;
}

.row .menu-card p {

    line-height: 20px;
    text-align: left;
}

.row .menu-card span a {
    color: cyan;
}

@media(min-width:992px) {

    .col-lg-4 {

        font-size: 14px;
        line-height: 18px;
    }

}